
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_36 */
#Welcome_mobilebutton_36 {

}
.ui-btn.Welcome_mobilebutton_36 {

}
/* mobilecontainer */
.ui-content.Welcome_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* collapsibleset */
.Welcome_collapsibleset {
	margin: 8px 5px 8px 5px;
}
/* additem_block */
.Welcome_additem_block {

}
.Welcome_additem_block .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* additem_itemname */
.Welcome_additem_itemname {
	margin: 4px 0px 4px 0px;
}
/* additem_datebought */
.Welcome_additem_datebought {
	margin: 4px 0px 4px 0px;
}
/* additem_currentlocation */
.Welcome_additem_currentlocation {
	margin: 4px 0px 4px 0px;
}
/* additem_notes */
.Welcome_additem_notes {
	margin: 4px 0px 4px 0px;
}
/* file_input */
.Welcome_file_input {
	margin: 4px 0px 4px 0px;
}
/* additem_categoryselectmenu */
.Welcome_additem_categoryselectmenu {
	margin: 4px 5px 4px 5px;
}
/* additem_button */
#Welcome_additem_button {

}
.ui-btn.Welcome_additem_button {
	margin: 4px 5px 4px 5px;
}
/* list_by_category_block */
.Welcome_list_by_category_block {
	margin: 10px 8px 4px 8px;
}
.Welcome_list_by_category_block .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* list_by_category_select_menu */
.Welcome_list_by_category_select_menu {
	margin: 4px 5px 0px 5px;
}
/* list_by_category_button */
#Welcome_list_by_category_button {

}
.ui-btn.Welcome_list_by_category_button {
	margin: 4px 5px 4px 5px;
}
/* list_by_category_buttonlist */
.ui-page .Welcome_list_by_category_buttonlist {
	margin: 4px 0px 0px 0px;
}
/* list_by_category_list_button */
/* mobilelistitembutton_168 */
.Welcome_mobilelistitembutton_168 {

}
/* add_category_block */
.Welcome_add_category_block {
	margin: 10px 8px 4px 8px;
}
.Welcome_add_category_block .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* addcategory_input */
.Welcome_addcategory_input {
	margin: 4px 0px 4px 0px;
}
/* addcategorybutton */
#Welcome_addcategorybutton {

}
.ui-btn.Welcome_addcategorybutton {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Welcome_mobilefooter {
	min-height:38px;
}
/* export_inv_button */
.Welcome_export_inv_button {

}
.Welcome_export_inv_button .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .Welcome_export_inv_button ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .Welcome_export_inv_button ul li:last-child a {
	margin-right: -1px !important;
}
.Welcome_export_inv_button ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/* trash_panel */
.Welcome_trash_panel .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.Welcome_trash_panel:focus {
	outline: 0;
}
/* mobilebutton_180 */
#Welcome_mobilebutton_180 {

}
.ui-btn.Welcome_mobilebutton_180 {
	margin: -17px -16px 4px -17px;
}
/* delete_history_list */
.ui-page .Welcome_delete_history_list {
	margin: 4px 0px 0px 0px;
}
/* delete_history_item */
/* delete_history_item_button */
.Welcome_delete_history_item_button {

}
/* restore_item_confirmation */
.Welcome_restore_item_confirmation {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* about_us_panel */
.Welcome_about_us_panel .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.Welcome_about_us_panel:focus {
	outline: 0;
}
/* mobilebutton_170 */
#Welcome_mobilebutton_170 {

}
.ui-btn.Welcome_mobilebutton_170 {
	margin: -16px -16px -3px -17px;
}
/* mobilelabel_172 */
.Welcome_mobilelabel_172 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* options_panel */
.Welcome_options_panel {

}
div.Welcome_options_panel {
	max-height: 100vh;
	box-sizing: border-box;
}
div.Welcome_options_panel .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* about_us_button */
#Welcome_about_us_button {

}
.ui-btn.Welcome_about_us_button {
	margin: -1px -1px -2px -4px;
}
/* log_out_button */
#Welcome_log_out_button {

}
.ui-btn.Welcome_log_out_button {
	margin: -1px -1px -2px -4px;
}